/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1a1a1a;
}

/* navbar section */

nav {
    position: fixed;
    height: 70px;
    background-color: #fff;
    width: 100%;
}

nav img {
    height: 50px;
    width: auto;
    float: left;
    padding: 10px 10px 10px 20px;
}

.links {
    float: right;
    padding: 218x;
}

ul {
    float: right;
    padding: 15px;
}

li {
    list-style: none;
    float: right;
    padding: 8px;
}

a {
    font-size: 1.2rem;
}

/* header section */

header {
    background-image: url("../images/landing.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center ;
}

h1 {
    font-weight: 300;
    color: white;
    margin: 20px;
    font-size: 3rem;
}

header p {
    color: white;
    padding: 2px;
    font-size: 1rem;
}

/* section 2 */

#section2 h2 {
    font-weight: 500;
    text-decoration: underline #00B172;
    margin-top: 30px;
}

#section2 {
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#section2divs {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 35px;
}

.section2-div {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#section2 h3 {
    color: #00B172;
    font-weight: 800;
    padding: 7px;
}

p {
    font-weight: 100;
    padding-top: 8px;
}

#section2 img {
    width: 100px;
    height: auto;
    align-self: center;
    padding: 10px;
}

/* section 3 */

#section3 {
    background-color: #00B172;
    position: relative;
    height: 100vh;
    width: 100%;
}

.section3-div {
    width: 40%;
    margin: 50px;
}

#left-div {
    float: left;
    width: 35%;
}

#right-div {
    float: right;
}

#right-div img {
    height: auto;
    width: 60%;
    float: right;
    margin-top: 20px;
}

#white-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
}

#section3 p, #section3 h2, #section3 h3 {
    color: white;
}

#section3 h2 {
    text-decoration: underline;
    font-weight: 500;
}

#section3 h3 {
    padding-top: 40px;
}

#section3 p {
    font-weight: 100;
    padding-top: 30px;
}