/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1a1a1a;
}

/* navbar section */

nav {
    position: fixed;
    height: 70px;
    background-color: #fff;
    width: 100%;
}

nav img {
    height: 50px;
    width: auto;
    float: left;
    padding: 10px 10px 10px 20px;
}

.links {
    float: right;
    padding: 218x;
}

ul {
    float: right;
    padding: 15px;
}

li {
    list-style: none;
    float: right;
    padding: 8px;
}

a {
    font-size: 1.2rem;
}

/* header section */

header {
    background-image: url("../images/landing.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center ;
}

h1 {
    font-weight: 300;
    color: white;
    margin: 20px;
    font-size: 3rem;
}

header p {
    color: white;
    padding: 2px;
    font-size: 1rem;
}

/* section 2 */